<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sladaa.store">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.sladaa.store.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.sladaa.store.activity.AddAtributActivity"></activity>
        <activity
            android:name="com.sladaa.store.activity.AddProductActivity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name="com.sladaa.store.activity.ProductActivity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name="com.sladaa.store.activity.SignatureActivity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name="com.sladaa.store.activity.OrderDeliverDetailsActivity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name="com.sladaa.store.activity.OrderPendingDetailsActivity"
            android:theme="@style/AppTheme1" />
        <activity android:name="com.sladaa.store.activity.HomeActivity" />
        <activity
            android:name="com.sladaa.store.activity.LoginActivity"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sladaa.store.MainActivity" />
        <activity
            android:name="com.sladaa.store.activity.ProfileActivity"
            android:theme="@style/AppTheme1" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>